<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:fragment="layout (template, menu)">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.home}">AnhNBT :: Spring Framework</title>
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link href="/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/assets/fontawesome/css/all.min.css" th:href="@{/assets/fontawesome/css/all.min.css}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/assets/images/anhnbt-logo.png}" th:alt="#{title.home}" width="120px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" th:classappend="${menu == 'home' ? 'active' : ''}">
                        <a class="nav-link" href="#" th:href="@{/}" th:text="#{label.navigation.home.link}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/blogs}" th:text="#{label.navigation.blog.link}">Blogs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a href="/user/register" th:href="@{/user/register}" class="nav-link"
                           th:text="#{label.navigation.registration.link}">Create user account</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/login}" th:text="#{label.navigation.login.link}">Sign in</a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" class="nav-link"
                           th:text="#{label.navigation.logout.link}">
                            <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#"
                              th:action="@{/logout}"></form>
                    </li>
                    <li class="nav-item">
                        <a href="?locale=vi_VN" class="nav-link">VI</a>
                    </li>
                    <li class="nav-item">
                        <a href="?locale=en_US" class="nav-link">EN</a>
                    </li>
                </ul>
                <span class="navbar-text" sec:authorize="isAuthenticated()"
                      sec:authentication="name">Signed in as</span>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3" th:replace="${template}">

    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container text-center p-3">
        <div sec:authorize="isAuthenticated()">
            <p>Logged user: <span sec:authentication="name">Bob</span></p>
            <p>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></p>
            <p>This content is only shown to authenticated users.</p>
            <p sec:authorize="hasRole('ROLE_USER')">
                This content is only shown to users.
            </p>
        </div>
        <p>© 2021 by <a href="https://anhnbt.com/">AnhNBT</a>. All rights reversed.</p>
        <p th:text="${menu}"></p>
    </div>
</footer>
<script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:if="${menu == 'blog'}">
    $('#confirmModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this);
        modal.find('.modal-body input').val(recipient)
    });

    function findByTitleContains(searchKey) {
        $.ajax({
            type: 'GET',
            url: '/admin/blogs/search?s=' + searchKey,
            dataType: "json",
            success: renderList
        });
    }

    function loadPage(page, pageSize, sortBy) {
        $.ajax({
            type: 'GET',
            url: '/admin/blogs/search?pageNo=' + page + '&pageSize=' + pageSize + '&sortBy=' + sortBy,
            dataType: "json",
            success: renderList
        });
    }

    function renderList(data) {
        let list = data == null ? [] : (data.content instanceof Array ? data.content : [data.content]);
        $('#blogList tr').remove();
        if (list.length > 0) {
            $.each(list, function (index, blog) {
                let data = `<tr>
                    <th scope="row">${blog.id}</th>
                    <td><img src="${'/admin/blogs/files/' + blog.imageURL}" width="85px"
                             class="img-fluid img-thumbnail"></td>
                    <td>${blog.title}</td>
                    <td>${blog.category.name}</td>
                    <td>
                        <span class="${blog.active ? 'badge badge-success' : 'badge badge-danger'}">${blog.active ? 'Enabled' : 'Disabled'}</span>
                    </td>
                    <td>
                        <a href="/admin/blogs/edit/${blog.id}" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="button" data-toggle="modal" data-target="#confirmModal"
                                data-whatever="${blog.id}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
        </tr>`;
                $('#blogList').append(data);
            });
        } else {
            $("#blogList").html("<tr><td colspan='6'>No data.</td></tr>");
        }
        if (data.totalPages > 1) {
            console.log(data);
            let prev = "";
            let next = "";
            if (!data.first) {
                prev = '<button class="page-link" id="prev" type="button" onclick="loadPage(' + (data.pageable.pageNumber - 1) + ',' + data.pageable.pageSize + ', \'id\')">Prev</button>';
            }
            if (!data.last) {
                next = '<button class="page-link" id="next" type="button" onclick="loadPage(' + (data.pageable.pageNumber + 1) + ',' + data.pageable.pageSize + ', \'id\')">Next</button>';
            }
            $("#pagination").html(prev + next);
        }
    }
</script>
</body>
</html>
